In [1]:
import pandas as pd

In [42]:
df=pd.read_csv('drug200.csv')

In [43]:
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [44]:
df.shape

(200, 6)

In [45]:
df.describe().T

         count       mean        std     min      25%      50%    75%     max
Age      200.0  44.315000  16.544315  15.000  31.0000  45.0000  58.00  74.000
Na_to_K  200.0  16.084485   7.223956   6.269  10.4455  13.9365  19.38  38.247

In [46]:
df.isna().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [47]:
df.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [48]:
df['Sex'].unique()

array(['F', 'M'], dtype=object)

In [49]:
df['BP'].unique()

array(['HIGH', 'LOW', 'NORMAL'], dtype=object)

In [50]:
df['Cholesterol'].unique()

array(['HIGH', 'NORMAL'], dtype=object)

In [51]:
df['Drug'].unique()

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [52]:
df['Drug'] = df['Drug'].replace('DrugY', 'drugY')

In [53]:
# BP - high = 0, low= 1, normal = 2
# Sex - M = 1 , F= 0
# Cholesterol - High = 0 , Normal = 1

In [54]:
custom_labels_sex = {
    'M': 1,
    'F': 0,
}
df['Sex'] = df['Sex'].map(custom_labels_sex)
custom_labels_BP={
    'LOW': 0,
    'NORMAL':1,
    'HIGH':2
}
df['BP'] = df['BP'].map(custom_labels_BP)
custom_labels_cholesterol={
    'HIGH':1,
    'NORMAL':0
}
df['Cholesterol'] = df['Cholesterol'].map(custom_labels_cholesterol)

In [55]:
df

     Age  Sex  BP  Cholesterol  Na_to_K   Drug
0     23    0   2            1   25.355  drugY
1     47    1   0            1   13.093  drugC
2     47    1   0            1   10.114  drugC
3     28    0   1            1    7.798  drugX
4     61    0   0            1   18.043  drugY
..   ...  ...  ..          ...      ...    ...
195   56    0   0            1   11.567  drugC
196   16    1   0            1   12.006  drugC
197   52    1   1            1    9.894  drugX
198   23    1   1            0   14.020  drugX
199   40    0   0            0   11.349  drugX

[200 rows x 6 columns]

In [56]:
x = df.drop('Drug',axis=1)
y = df['Drug']

In [58]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [59]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [62]:
model_lr = LogisticRegression()
model_lr.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [64]:
y_pred = model_lr.predict(x_test)

In [68]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')
print('='*100)
report = classification_report(y_test, y_pred)
print(report)

Accuracy: 87.50%
====================================================================================================
              precision    recall  f1-score   support

       drugA       1.00      1.00      1.00         6
       drugB       0.80      0.80      0.80         5
       drugC       0.00      0.00      0.00         0
       drugX       1.00      0.86      0.92        14
       drugY       0.87      0.87      0.87        15

    accuracy                           0.88        40
   macro avg       0.73      0.70      0.72        40
weighted avg       0.93      0.88      0.90        40

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [70]:
from sklearn.tree import DecisionTreeClassifier
model_dt = DecisionTreeClassifier()
model_dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [71]:
y_pred = model_dt.predict(x_test)

In [72]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')
print('='*100)
report = classification_report(y_test, y_pred)
print(report)

Accuracy: 100.00%
====================================================================================================
              precision    recall  f1-score   support

       drugA       1.00      1.00      1.00         6
       drugB       1.00      1.00      1.00         5
       drugX       1.00      1.00      1.00        14
       drugY       1.00      1.00      1.00        15

    accuracy                           1.00        40
   macro avg       1.00      1.00      1.00        40
weighted avg       1.00      1.00      1.00        40

In [73]:
import pickle
with open('model.pkl', 'wb') as file:
    pickle.dump(model_dt, file, protocol=3)